:root{
    --Light_Blue: #3B82F6;
    --Light_Blue2:rgb(102, 154, 236);
    --Other_Blue: #f3f6fa;
    --Other_Blue2: #eaeef3;
    --Dark_blue: #1E3A8A;
    --DeepDark_Blue: #030c24;
    --OpacityDark_Blue: #030c24e7;
    --White: #FFFFFF;
    --white_opacity: #ffffffee;
    --blur: #ffffff3b;
    --blackBlur: #0000003b;
    --line_grey: #a1a1a148;
    --background_DGreen: #276360;
    --font_darkgreen: #043a37;
}
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--blackBlur);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.popup-container {
    background-color: var(--White);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 15px var(--line_grey);
    width: 90%;
    max-width: 600px; 
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.popup-title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--OpacityDark_Blue);
    margin: 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--line_grey);
}

.popup-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.popup-form input,
.popup-form select {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid var(--line_grey);
    border-radius: 6px;
    font-size: 1rem;
    background-color: var(--Other_Blue);
    color: var(--OpacityDark_Blue);
    box-sizing: border-box;
}

.popup-form input:focus,
.popup-form select:focus {
    outline: none;
    border-color: var(--line_grey);
    background-color: var(--line_grey);
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-group label {
    font-size: 0.9rem;
    color:  var(--OpacityDark_Blue);
    font-weight: 600;
}

.popup-actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-top: 1rem;
}

.popup-actions button {
    padding: 0.6rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.btn-cancel {
    background-color: var(--line_grey);
    color: var(--OpacityDark_Blue);
}

.btn-cancel:hover {
    background-color: var(--blackBlur);
}

.btn-save {
    background-color: var(--background_DGreen);
    color: #fff;
    font-weight: 600;
    display: flex;
    margin: auto;
    font-style: none;
    align-items: center;
}

.btn-save:hover {
    background-color: var(--font_darkgreen);
}
.btn-save-img{
    padding: 0 0.2rem;
}