.containerStyle { 
    display: flex; 
    height: 100vh;
    width: 100vw;
}
.contentAreaStyle { 
    flex-grow: 1;
    padding: 20px;
    display: flex; 
    flex-direction: column;
    overflow-y: auto;
};
.inputStyl {
    font-size: 2em; 
    border: none; 
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 10px 0;
    outline: none;
    width: 100%;
    font-Family: sans-serif;
}